/* Global styles */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header styles */
header {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Section styles */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

/* Initially hide the project description */
.project-description {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: inline-block;
    font-style: italic;
    color: #555;
    margin-left: 10px;
}

/* When the link is hovered, show the description */
p:hover .project-description {
    opacity: 1;
    transform: translateY(0);
}

/* Optional: Add a hover effect to the links as well */
a:hover {
    color: #0088cc;
    transition: color 0.3s ease;
}

/* Footer styles */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

td.table_left {
    text-align: left;
    padding-left: 2%;
}

td.table_right {
    text-align: right;
    padding-right: 2%;
}

.menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    padding-bottom: 1%;
    padding-top: 1%;
}

.menu li {
    display: flex;
    justify-content: space-around;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    background-color: RGB(44, 44, 44);
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: RGB(66, 66, 66);
}

table {
    width: 100%;
}

.logos {
    margin: 4px;
    text-align: right;
    transition: transform 0.3s;
}

.logos:hover {
    transform: scale(1.15);
}

.logo_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding-left: 12%;
    padding-right: 12%;
}

img.logo_img {
    height: 35px;
}

.album_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.album {
    margin: 35px;
    text-align: center;
    width: 500px;
}

img.album_img {
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}

/* Lightbox container */
.lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

/* Lightbox content (the image) */
.lightbox-content {
    width: 80%;
    height: auto;
}

/* Close button */
.lightbox-close {
    position: absolute;
    top: 40px;
    right: 60px;
    font-size: 60px;
    color: #fff;
    cursor: pointer;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

p {
    line-height: 1.75;
}

.lightbox-content2 {
    width: 65%;
    height: auto;
}

.lightbox-content3 {
    height: 75%;
    width: auto;
}

a.links_to_proj {
    font-size: larger;
    text-decoration: none;
    color: darkgreen;
}

a.dark_links_to_proj {
    font-size: larger;
    text-decoration: none;
    color: lightgreen;
}

.dark_project-description {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: inline-block;
    font-style: italic;
    color: lightgrey;
    margin-left: 10px;
}